@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: gradient 15s ease infinite;
    height: 100vh;
    user-select: none;
}

.background {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 145vh;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

:root {
    --text-color: #183153;
    --primary-color: #48ff38;
    --white-color: #CCFFFF;
    --black-color: #330000;
    --grey-color: #af9494;
}

.tet-gift-item ul {
    list-style: none;
}

a {
    color: unset;
    text-decoration: none;
    /* scroll-behavior: smooth; */
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    height: 50px;
    width: 100%;
    background-color: rgb(255, 108, 108);
    color: var(--white-color);
    user-select: none;
    z-index: 3;
}

.logo {
    margin-top: 3px;
    align-items: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 40px;
}

.search {
    display: flex;
    margin: 12px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    overflow: hidden;
    width: 177px;
    height: 25px;
}

.search .search-icon {
    padding: 10px 5px 11px 5px;
    color: var(--black-color);
    border-left: 0.1px solid var(--grey-color);
}

.search .search-icon:hover {
    cursor: pointer;
}

.search .search-input {
    border-style: none;
    border: none;
    background-color: var(--white-color);
    width: 150px;
    padding: 0 11px;
}

.search .search-input:focus {
    outline: none;
}

.account {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.cart {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

.cart:hover {
    cursor: pointer;
}

.test {
    width: 100px;
}

header {
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
    background-color: red;
    color: #CCFFFF;
    width: 100%;
    height: 30px;
    color: var(--white-color);
    padding: 0 0 0 70px;
    user-select: none;
    z-index: 2;
}

.home,
.about,
.tet-gift-baskets,
.tet-gift,
.tet-gift-bag,
.tet-wine,
.news,
.contact {
    margin: 0 19px 0 19px;
}

.home:hover,
.about:hover,
.tet-gift:hover,
.tet-gift-baskets:hover,
.tet-gift-bag:hover,
.tet-wine:hover,
.news:hover,
.contact:hover {
    cursor: pointer;
    color: #d3ff58;
}

.tet-gift-baskets,
.tet-gift-bag {}

.fa-caret-down {
    transform: rotate(0deg);
    transition: transform 450ms ease;
    padding: 30px 0 30px 0;
}

.fa-caret-down:hover {
    transform: rotate(-180deg);
}

.tet-gift-item {
    display: none;
    justify-content: space-around;
    position: absolute;
    z-index: 10000;
    text-align: center;
    width: 90%;
    height: 30%;
    margin: 0 0 0 5%;
    background-color: #ff2020;
    color: #CCFFFF;
}

#list-of-item {
    padding: 40px;

}

#list-of-item #title-of-item {
    font-size: 20px;
}

#list-of-item #item {
    font-size: 14px;
}

#list-of-item#title-of-item#item {}

.product {
    display: flex;
    width: 500px;
    height: 48px;
    justify-content: center;
}

.bg_title_red {
    position: absolute;
    top: 100px;
    left: 8%;
}

#item-but-not-a-link {
    text-align: left;
}

.flickity-button-icon {
    height: 5%;
    width: 5%;
}

article {
    z-index: 9;
    position: absolute;
    overflow: hidden;
    width: 800px;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 28.151183971%;
    margin-right: 5.151183971%;
}

.product-img {
    width: 42.267759563%;
    height: 860.297px;
    padding: 0px 0.666120219%;
    background-color: #CCFFFF;
}

.sale {
    background: url(../img/Salebg2.png);
    color: #CCFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-color: #f8d7da;
    padding: 20px;
    margin-top: 20px;
}

.sale h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sale p {
    font-size: 16px;
}

.products {
    width: 800px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cce5ff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 0%;
}

.cart-title-1 {}

.cart-title-2 {
    position: absolute;
    top: 22px;
    left: 0;
}

.products h2 {
    position: relative;
    z-index: 2;
    left: 0;
    color: #CCFFFF;
    font-size: 24px;
    margin-bottom: 10px;
}

.products ul {
    position: relative;
    z-index: 3;
    top: 0;
    left: 0;
    list-style: none;
    padding: 0;
}

.products li {
    color: #0056b3;
    font-size: 16px;
    margin-bottom: 5px;
}

.product-position {}

.product-row-1,
.product-row-2 {
    display: flex;
    width: 750px;
    align-items: end;
    justify-content: space-between;
    margin-top: 20px;
}

.product-row-2 {
    margin-top: 50px;
}

.product-item {
    width: 30%;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.product-item img {
    width: 100%;
    border-radius: 5px;
}

.product-item .content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100px;
}

.product-item h3 {
    color: #343a40;
    font-size: 18px;
    margin-top: 10px;
}

.product-item p {
    color: #6c757d;
    font-weight: 700;
    font-size: 18px;
}

footer {
    position: absolute;
    z-index: 10;
    top: 200%;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

footer p {
    color: #6c757d;
    font-size: 14px;
}

.filter-options {
    z-index: 100;
    position: absolute;
    top: 160px;
    left: 5.151183971%;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.subpage-base {
    margin-left: 20px;
    list-style: square;
}

.banner {
    display: flex;
    width: auto;
    height: 212px;
}

.banner img {
    height: 158px;
}

#option1,
#option2,
#option3 {
    width: 20px;
    height: 20px;
}

#bg_red {
    position: absolute;
    width: 985px;
    height: 40px;
    z-index: 1;
    background-size: cover;
    top: 167px;
    left: 0px;
}

#bg_red2 {
    position: absolute;
    width: 985px;
    height: 40px;
    z-index: 1;
    background-size: cover;
    top: 544px;
    left: 0px;
}

.title-img {
    width: 985px;
    height: 40px;
    object-fit: cover;
}

.filter-options input[type="checkbox"] {
    margin-right: 5px;
}

.discount-banner {
    text-align: center;
    margin-bottom: 2rem;
}

.product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    width: 48%;
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 500;
    height: 500;
}